body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}

#create-employee {
  width: 344px;
}

input {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: solid lightgray 1px;
  border-radius: 5px;
  box-sizing: border-box;
  background: none;
  height: 1.4375em;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 344px;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
  padding-right: 0;
}

input:active {
  box-sizing: border-box;
  border: 2px solid cornflowerblue;
}

fieldset.address {
  width: fit-content;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiFormControl-root
  MuiTextField-root
  css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 344px;
  padding-right: 12px;
}

#employeeListTitle {
  text-align: center;
}

.tableContainer {
  margin: 5% 10%;
}

.tableCenterElem {
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

thead {
  cursor: pointer;
}

.tableDisplay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
